In [18]:
class Employee:
    def record(self,name,age,salary,position):
        self.name = name
        self.age=age
        self.salary=salary
        self.position=position
    
    def promote(self,position):
        self.position=position
        print(f'The employees new position is {self.position}')
    def give_raise(self,raise_amt):
        self.salary+=raise_amt
        print(f'The employees new salary is {self.salary}')
    def display(self):
        print(f'Employee name: {self.name}')
        print(f'Employee age: {self.age}')
        print(f'Employee salary: {self.salary}')
        print(f'Employee position: {self.position}')

In [2]:
vinay=Employee()

In [3]:
vinay.record("Vinay",21,10,"asd")

In [4]:
vinay.display()

Employee name: Vinay
Employee age: 21
Employee salary: 10
Employee position: asd

In [5]:
vinay.promote("manager")

The employees new position is manager

In [7]:
vinay.salary

10

In [8]:
vinay.give_raise(20)

The employees new salary is 30

In [9]:
vinay.display()

Employee name: Vinay
Employee age: 21
Employee salary: 30
Employee position: manager

In [10]:
l1=[]

In [13]:
num=input("Enter the number of employees to fill")

Enter the number of employees to fill 3

In [19]:
for i in num:
    l1[i]=
    name=input("Enter Employee name:")
    age=input("Enter Employee age : ")
    salary=input("Enter Employee salary: ")
    position=input("Enter employee position: ")
    l1[1]=Employee.record(self,name,age,salary,position)

SyntaxError: invalid syntax (4234494361.py, line 2)